body {
    background: gray;
}
.fallback-message p {
    text-align: center;
    color: #fb4141;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000;
}
.slide {
    width: 95vw;
    height: 95vh;
    margin: auto;
    padding: 10vh 0
}
.slide .inner{
    direction: rtl;
    background: #FFF;
    width: 80%;
    min-height: 80%;
    margin: auto;
    border-radius: 3vw/3vh;
    padding: 2vh 2vw;
}
.slide.section h3 {
    text-align: left;
}
.slide#start .inner{
    text-align: center;
    background: transparent;
}
.slide#start h1 {
    font-size: 8vw;
    padding: 0;
    margin: 0;
}
.slide#start h1 bdi {
    display: block;
}
.slide#start h1 bdi.you {
    margin-left: 17vw;
}
.slide#start h1 bdi.are {
    margin-left: -20vw;
}
