body {
    background: url('img/map2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
@media screen and (max-width: 2000px) {
    body{
        background: url('img/map-2000x1500.jpg');
    }
}
@media screen and (max-width: 1500px) {
    body{
        background: url('img/map-1500x1125.jpg');
    }
}
@media screen and (max-width: 1000px) {
    body{
        background: url('img/map-1000x750.jpg');
    }
}
@media screen and (max-width: 800px) {
    body{
        background: url('img/map-800x600.jpg');
    }
}
a,
a:active,
a:visited {
    color: #5f00a5;
}
a:hover {
    color: #fa7aaa;
}

.slide {
    width: 1180px;
    min-height: 540px;
    margin: auto;
    padding: 62px 0;
    font-family: sans-serif;
    font-size: 16px;
    transition: all linear 1s;
}
.slide.active {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.impress-enabled .slide {
        height: 540px;
}
.impress-disabled .slide {
    width: 90vw
}
@media screen and (max-width: 1200px) {
    .impress-enabled .slide {
        min-height: 366px;
        font-size: 25px;
    }
    .impress-enabled .slide .inner {
        width: 90%;
        min-height: 366px;
        font-size: 25px;
    }
}
.impress-enabled .slide.faded {
    opacity: 0.5;
    filter: brightness(20%);
    transition: opacity 1s, filter 1s;
}
.impress-enabled .slide.faded.active {
    opacity: 1;
    filter: brightness(100%);
}
.slide .inner{
    direction: rtl;
    background: linear-gradient(#fbfb7a, #FFF, #CAC);
    width: 1062px;
    min-height: 486px;
    margin: auto;
    border-radius: 37px/17px;
    padding: 25px 11px;
    border: solid 1px #000;
    transition: transform 0.5s;
}
.slide.section h3 {
    text-align: center;
    margin-top: 201px;
}
.impress-disabled .slide.section h3 {
        margin-bottom: 201px;
}
.slide#start{
    text-align: center;
    background: transparent;
    text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000;
    border: none;
    color: #9AF;
}
.slide#start h1 {
    font-size: 100px;
    padding: 0;
    margin: 0;
}
.slide#start h2 {
    width: 420px;
    margin: 20px auto;
}
.slide#start a,
.slide#start a:active,
.slide#start a:visited {
    color: #9AF;
}

.slide#start h1 bdi {
    display: block;
}
.slide#start h1 bdi.you {
    margin-left: 211px;
}
.slide#start h1 bdi.are {
    margin-left: -248px;
}
@media screen and (max-width: 700px) {
    .slide#start h1 {
        font-size: 70px;
    }
    .slide#start h2 {
        font-size: 30px;
    }
}
blockquote {
    font-style: italic;
}
a.option1, a.option2 {
    text-decoration: underline;
    cursor: pointer;
}
.option2 { display: none;}
.show-other .option1 {display: none;}
.show-other .option2 {display: inline;}

/* Controls */
.controls {
    background: rgba(240,240,255,0.3);
    position: fixed;
    direction: rtl;
}
.controls img {
    height: 50px;
    width: 50px;
}
#top_controls {
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
}
#bottom_controls {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
}
#bottom_controls .arrow,
#top_controls .arrow {
    position: absolute;
    left: 50%;
    margin-left: 75px;
    width: 50px;
    height: 50px;
    top: 0;
}
#bottom_controls .arrow span,
#top_controls .arrow span {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 55px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
}
#top_controls img {
    transform: rotate(90deg);
}

#bottom_controls img {
    transform: rotate(-90deg);
}
#left_controls .arrow,
#right_controls .arrow {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#right_controls img {
    transform: rotate(-180deg);
}
#right_controls .arrow span {
    display: block;
    transform: rotate(-90deg);
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}
#left_controls .arrow span {
    display: block;
    transform: rotate(-90deg);
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}
#top_controls .search #all_pages {
    display: block;
    width: 205px;
    overflow-y: scroll;
    direction: rtl;
    border: solid 1px #484848;
    padding: 0;
    margin: 10px 0 0;
    max-height: 200px;
}
#top_controls .search #all_pages li {
    list-style-type: none;
    background: white;
    overflow-x: hidden;
    padding: 0;
    border-bottom: solid 1px #777;
    cursor: pointer;
}
#top_controls .search #all_pages li.transition {
    background: #BBF;
}
#top_controls .search #all_pages li.active {
    background: #99F;
}
#top_controls .search .search_panel {
    position: absolute;
    right: 50px;
    top: 20px;
    width: 0;
    overflow: hidden;
    transition: width 0.6s;
}
#top_controls .search.open .search_panel {
    width: 250px;
}
#top_controls .search {
    position: absolute;
    top: 0;
    right: 0;
}
#top_controls .search input {
    border: none;
    top: -10px;
    transition: padding 0.1s linear, width 0.4s cubic-bezier(0.250, 0.250, 0.585, 1.335) 0.1s;
}
#top_controls .search input {
    width: 200px;
    padding: 2px;
    border: solid 1px blue;
}
#top_controls .search img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@media screen and (orientation: portrait) {
    .slide {
        max-width: 540px;
    }
    .slide .inner {
        min-height: 540px;
    }
    .slide.active {
        height: 170vh;
        max-height: auto;
        overflow-y: auto;
    }
}
