body {
    background: url('img/map2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
@media screen and (max-width: 3000px) {
    body{
        background: url('img/map-3000x2250.jpg');
    }
}
@media screen and (max-width: 2500px) {
    body{
        background: url('img/map-2500x1875.jpg');
    }
}
@media screen and (max-width: 2000px) {
    body{
        background: url('img/map-2000x1500.jpg');
    }
}
@media screen and (max-width: 1500px) {
    body{
        background: url('img/map-1500x1125.jpg');
    }
}
@media screen and (max-width: 1000px) {
    body{
        background: url('img/map-1000x750.jpg');
    }
}
@media screen and (max-width: 800px) {
    body{
        background: url('img/map-800x600.jpg');
    }
}
a,
a:active,
a:visited {
    color: #5f00a5;
}
a:hover {
    color: #fa7aaa;
}
.slide {
    width: 95vw;
    height: 95vh;
    margin: auto;
    padding: 5vw 0;
    font-family: sans-serif;
    font-size: 16px;
}
@media only screen and (max-width: 700px) and (orientation: portrait) {
    .slide {
        width: 95vw;
        height: 130vh;
    }
}
.slide.faded {
    opacity: 0.5;
    filter: brightness(20%);
    transition: opacity 1s, filter 1s;
}
.slide.faded.active {
    opacity: 1;
    filter: brightness(100%);
}
.slide .inner{
    direction: rtl;
    background: linear-gradient(#fbfb7a, #FFF, #CAC);
    width: 90%;
    min-height: 90%;
    margin: auto;
    border-radius: 3vw/3vh;
    padding: 2vw 2vh;
    border: solid 1px #000;
    transition: transform 0.5s;
}
.slide.section h3 {
    text-align: center;
    margin-top: calc(40vh - 15px);
}
.slide#start{
    text-align: center;
    background: transparent;
    text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000;
    border: none;
    color: #9AF;
}
.slide#start h1 {
    font-size: 8vw;
    padding: 0;
    margin: 0;
}
.slide#start h2 {
    width: 420px;
    margin: 20px auto;
}
.slide#start a,
.slide#start a:active,
.slide#start a:visited {
    color: #9AF;
}

.slide#start h1 bdi {
    display: block;
}
.slide#start h1 bdi.you {
    margin-left: 17vw;
}
.slide#start h1 bdi.are {
    margin-left: -20vw;
}
.controls .downBtn {
    position: fixed;
    bottom: 50vh;
    left: 5vw;
    background: red;
    cursor: pointer;
}
#all_pages {
    position: fixed;
    top: 0;
    left: 0;
    direction: rtl;
}
blockquote {
    font-style: italic;
}
a.option1, a.option2 {
    text-decoration: underline;
    cursor: pointer;
}
.option2 { display: none;}
.show-other .option1 {display: none;}
.show-other .option2 {display: inline;}
